nav {
  display: flex;
  justify-content: space-between;
  background-color:rgb(244, 232, 236); 
  padding: 15px;
}
 nav ul {
  list-style-type: none;
  font-size: 18px;
}
.checking{
  display: none;
}
#check{
  display: none;
}
 nav li {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  
}
li:hover {
  color: rgb(188, 171, 177);
}
.nav,
a,
li {
  text-decoration: none;
  color: black;
}

.logo li {
  list-style-type: none;
}

.store {
  letter-spacing: 15px;
  line-height: 0.1;
  padding-left: 5px;
}
.shirst {
  padding-right: 290px;
}
.about {
  display: flex;
  justify-content: center;
  gap: 30px;
}
img {
  width: 100%;
  height: 100%;
}
.images {
  width: 570px;
  height: 570px;
}
.abouts {
  width: 500px;
  background-color: antiquewhite;
  text-align: center;
  padding: 20px;
}
.dress {
  text-align: center;
  margin-bottom: 25px;
  padding: 20px 0;
  font-size: 16px;
}
.word {
  word-spacing: 4px;
  padding: 0 5px;
  text-align: justify;
  font-size: 18px;
line-height: 1.3;
}
.width {
  width: 100px;
  text-align: center;
}
.foot {
  text-align: center;
  background-color: rgb(244, 232, 236);
  padding: 25px;
  margin-top: 25px;
  font-size: 20px;
}

ul {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 20px;
  font-weight: bold;
  font-size: larger;
  padding-top: 3px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 20px;
  font-weight: bold;
  font-size: larger;
  padding-top: 3px;
}
a,
li {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* padding: 15px; */
    justify-content: space-around;
  }
.logo a{
  display: none;
 }
 .logo{
  font-size: 15px;
 }
  ul {
    
    display: none;
    background-color: rgba(223, 132, 203, 0.74);

  }.checking{
    display: block;
  }
  #check:checked~ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:70px;
    left:0px;
    width:100%;
    align-items: center;
  }

  

  .store {
    letter-spacing: 8px;
  }

  .shirst {
    padding-right: 0;
  }

  .about {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .images {
    width: 100%;
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
  }

  .abouts {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }

  .dress {
    font-size: 18px;
    padding: 15px 0;
  }

  .word {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .width {
    width: 80px;
  }

  .foot {
    padding: 15px;
    font-size: 18px;
  }
  .foot p{
    font-size: 15px;
  }
  
  
  
  
}




@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  nav {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
  }

  .logo a{
  display: none;
 }
 .logo{
  font-size: 25px;
 }

  ul {
    display: none;
    background-color: rgba(223, 132, 203, 0.74);
  }

  .checking {
    display: block;
  }

  #check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    align-items: center;
  }

  li {
    padding: 12px 0;
    font-size: 16px;
  }

  
  .store {
    letter-spacing: 8px;
  }

  .shirst {
    padding-right: 0;
  }

  .about {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .images {
    width: 100%;
    max-width: 500px;
    height: 785px;
    margin: 0 auto;
  }

  .abouts {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    line-height: 1;
  }

  .dress {
    font-size: 18px;
    padding: 15px 0;
  }

  .word {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .width {
    width: 80px;
  }

  .foot {
    padding: 15px;
    font-size: 18px;
  }

  .foot p {
    font-size: 15px;
  }

  .foots {
    flex-direction: row;
    gap: 10px;
  }

 
}