body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 232, 236);
}

 nav ul {

  list-style-type: none;
  font-size: 18px;
}
.checking{
  display: none;
}
#check{
  display: none;
}
 nav li {
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  
}
li:hover {
  color: rgb(188, 171, 177);
}
.nav,
a,
li {
  text-decoration: none;
  color: black;
}

.logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.logo li {
  list-style-type: none;
}

.store {
  letter-spacing: 15px;
  line-height: 0.1;
  padding-left: 5px;
}
.whole {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  gap: 15px;
  text-align: center;
}

.apps {
  padding: 30px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.god {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.god:hover {
  box-shadow: 0 15px 25px;
}
.foot {
  text-align: center;
  background-color: rgb(244, 232, 236);
  padding: 25px;
  margin-top: 25px;
  font-size: 20px;
}
.foots {
  display: flex;
  justify-content: center;

}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 20px;
  font-weight: bold;
  font-size: larger;
  padding-top: 3px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 20px;
  font-weight: bold;
  font-size: larger;
  padding-top: 3px;
}
a,
li {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
  }

  

  ul {
   
    display: none;
    background-color: rgba(223, 132, 203, 0.74);

  }.checking{
    display: block;
  }
  #check:checked~ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:70px;
    left:0px;
    width:100%;
    align-items: center;
  }
  .store {
    letter-spacing: 8px;
    font-size: 16px;
  }

  .whole {
    flex-direction: column;
    margin: 15px;
    gap: 20px;
  }

  .god {
    width: 100%;
    height: 220px;
    max-width: 300px;
    margin: 0 auto;
  }

  .foot {
    padding: 15px;
    font-size: 18px;
  }
  .foot p{
    font-size: 15px;
  }
  .foots {
    flex-direction: row;
    gap: 10px;
  }
  
 
 

  .apps {
    padding: 20px 15px;
  }
}

  
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 15px 20px;
    flex-wrap: wrap;
  }

  

.logo {
  font-size: 25px;
}
  ul {
    display: none;
    background-color: rgba(223, 132, 203, 0.74);
  }

  .checking {
    display: block;
  }

  #check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    align-items: center;
  }

  
  .store {
    letter-spacing: 10px;
  }

  .whole {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
  }

  .god {
    width: 200px;
    height: 200px;
    flex: 1 1 45%;
    max-width: 220px;
  }

  
  
  
  

 
  .store {
    letter-spacing: 10px;
  }

  .whole {
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
  }

  .god {
    width: 200px;
    height: 200px;
    flex: 1 1 45%;
    max-width: 220px;
  }

  
  .apps {
    padding: 25px;
  }
  .foot {
    padding: 15px;
    font-size: 18px;
  }
  .foot p{
    font-size: 15px;
  }
  .foots {
    flex-direction: row;
    gap: 10px;
  }
  
}
