body{
  margin: 0%;
  padding: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color:rgb(244, 232, 236); ;
}

  nav ul {
  list-style-type: none;
  font-size: 18px;
}
.checking{
  display: none;
}
#check{
  display: none;
}
 nav li {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  
}
li:hover {
  color: rgb(188, 171, 177);
}
.nav,
a,
li {
  text-decoration: none;
  color: black;
}
i {
  padding-right: 20px;
}
.logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.logo li {
  list-style-type: none;
}

.store {
  letter-spacing: 15px;
  line-height: 0.1;
  padding-left: 5px;
}
.shirt {
  padding-right: 30px;
}
.whole {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  gap: 15px;
  text-align: center;
}

.apps {
  padding: 30px;
}
img{
  width: 100%;
  height:100%;
}
.god {
  width: 270px;
  height: 250px;
}
.god:hover{
  box-shadow: 0 10px 20px;
}
.foot {
  text-align: center;
  background-color: rgb(244, 232, 236);
  padding: 25px;
  margin-top: 25px;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  
  }

  
  .logo a{
  display: none;
 }
 .logo{
  font-size: 20px;
 }
  ul {
    
    display: none;
    background-color: rgba(223, 132, 203, 0.74);

  }.checking{
    display: block;
  }
  #check:checked~ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:70px;
    left:0px;
    width:100%;
    align-items: center;
  }

  li {
    font-size: 20px;
  }

  .whole {
    flex-direction: column;
    margin: 10px;
    gap: 20px;
  }

  .god {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .logo {
    padding: 15px 0;
  
  }

  .store {
    letter-spacing: 5px; 
  }

  .foot {
    padding: 15px;
    font-size: 18px;
  }
  .foot p{
    font-size: 15px;
  }
  
   
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 10px 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  
  
  
 .logo{
  font-size: 25px;
 }

  ul {
    display: none;
    background-color: rgba(223, 132, 203, 0.74);
  }

  .checking {
    display: block;
  }

  #check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    align-items: center;
  }

  li {
    padding: 12px 0;
    font-size: 16px;
  }

  .store {
    letter-spacing: 10px;
  }

  .whole {
  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
  }

  .god {
    width: 220px;
    height: 200px;
    flex: 1 1 45%;
  }

  .foot {
    padding: 15px;
    font-size: 18px;
  }
  .foot p{
    font-size: 15px;
  }
  
  
}
