.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  margin: auto;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/aesthetic-minimal-cute-pastel-pink-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg);
}
input {
  width: 350px;
  margin: 15px 0;
  height: 30px;
  outline: none;
  padding: 3px;
  border-radius: 10px;
}
button {
  width: 150px;
  height: 30px;

  border-radius: 15px;

  display: flex;
  margin-left: 80px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 104, 237, 0.073);
  border-color: black;
}
h1,
p {
  text-align: center;
  margin-top: 25px;
}
p {
  font-size: large;
}
a {
  text-decoration: none;
}

label{

  font-size: larger;
}
.login button{
  font-size: large;
}



/* Mobile: 320px - 768px */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .login {
    width: 95vw;
    height: 90vh;
    max-width: 350px;
    padding: 20px;
  }

  input {
   width:300px;
    height: 35px;
    margin: 20px auto;
    display: block;
  }

  button {
    width: 300px;
    height: 35px;
    margin: 25px auto 0;
    display: block;
    font-size: 16px; /* Minimum touch target */
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  label {
    font-size: 20px;
  }
}

/* Tablet: 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login {
    width: 90vw;
    max-width: 500px;
    height: 80vh;
  }

  input {
    width:400px;
    height: 30px;
  }

  button {
    width: 400px;
    height: 30px;
    margin-left: 0;
    margin-top: 30px;
  }

  h1 {
    font-size: 28px;
  }

  label {
    font-size: 18px;
  }
}
